/build/**
/dist/**
/build/
/dist/

# Ignore private settings from commiting
/nbproject/private/**
nbproject/private/**
/nbproject/**
nbproject/**
/nbproject/private/
nbproject/private/
/nbproject/
nbproject/
/src/META-INF/

#Force include .gitignore
!.gitignore
